
* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    scroll-margin: 100px;
    scroll-behavior: smooth;
    font-family: 'Popins', sans-serif;
}

ul {
    list-style: none;
    background: #11141a;
}

ul li { 
    display: inline-block;
    position: relative;
}

ul li a{
    opacity: 0.9;
    display: block;
    padding: 15px 25px;
    color: #fff;
    text-decoration: none;
    text-align: center;
    font-size: 18px;
}

ul li ul.dropdown2 li{
    display :block;
    opacity: 0.9;
}

ul li ul.dropdown2 {
    width: 150%;
    opacity: 0.9;
    background: #11141a;
    position: absolute;
    z-index: 999;
    display: none;
}

ul li a:hover {
    background: #11141a;
}

ul li:hover ul.dropdown2 {
    display: block;
}

---------
ul {
    list-style: none;
    background: #11141a;
}

ul li { 
    display: inline-block;
    position: relative;
}

ul li a{
    opacity: 0.9;
    display: block;
    padding: 15px 25px;
    color: #fff;
    text-decoration: none;
    text-align: center;
    font-size: 18px;
}

ul li ul.dropdown li{
    display :block;
    opacity: 0.9;
}

ul li ul.dropdown {
    width: 100%;
    opacity: 0.9;
    background: #11141a;
    position: absolute;
    z-index: 999;
    display: none;
}

ul li a:hover {
    background: #11141a;
}

ul li:hover ul.dropdown {
    display: block;
}
header { 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 70px;
    background: #11141a;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 18px;
    color: #FF8F01;
    text-decoration: none;
    font-weight: 600;
    transition: .3s;
}

.home {
font-size: 18px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    transition: .3s;
}

.home a:hover {
    color: #57DA10;
}

nav a {
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 1px;
}

nav a:hover{
    color: #57DA10;
}
